  <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <i class="fa fa-university" aria-hidden="true"></i>
        ICIN
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto text-white">
          <li class="nav-item  ml-2">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle ml-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Accounts
          </a>
          <div class="dropdown-menu bg-light " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Primary</a>
            <a class="dropdown-item" href="#">Saving</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle ml-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Transfer
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">From Primary Account</a>
            <a class="dropdown-item" href="#">From Saving Account</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle ml-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Request
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Chequebook for Primary Account</a>
            <a class="dropdown-item" href="#">Chequebook for Saving Account</a>
          </div>
        </li>
      </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" (click)="isView()">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" (click)="isView()">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div *ngIf="view">
  <app-homepage></app-homepage>
</div>
