<!-- Page Content -->
<!-- <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">ICIN Banking Application</h1>
        <p class="lead">ICIN is one of the top banking firms that accepts deposits from the public for the purpose of lending loans to the public.</p>
        <p class="lead">Internet Banking is a convenient way to do banking from the comfort of your home or office. Avoid the queue or delays and try our simple and secure Internet Banking facility for an unmatched online banking experience.

          Just login today using your User ID and Password to experience ICIN Bank Internet Banking.
           </p >
           <p class="lead">Dont have an account? Click the Sign Up button in the Nav bar to create your account
             </p >
          
      </div>
    </div>
  </div>
  button class="btn btn-info btn-block my-4" type="submit">Sign in</button>-->
  <!-- Bootstrap core JavaScript 
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
