<div class="card account">
    <div class="card-header">
        <h5 class="card-title">Saving Account: {{acocuntNumber}}</h5>
        <h5 class="card-title">Account Balance: {{balance}} Rs</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title">Recent Transactions</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr. Number</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>11/08/2020</td>
            <td>Debit</td>
            <td>200</td>
            <td>500</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>10/08/2020</td>
            <td>Credit</td>
            <td>200</td>
            <td>700</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
