<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="signup-form">
    <form >
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account!</p>
        <hr>
        <router-outlet>
        </router-outlet>
        
     
    </form>
</div>
	<div class="text-center ">Already have an account? <a href="#" class="text-white">Login here</a></div>

</body>
</html>